**/node_modules
**/npm-debug.log
ui/dist
.gradle
.project
client/build
common/build
jersey/build
server/build/*
!server/build/libs
contribs/build
core/build
es5-persistence/build
mysql-persistence/build
redis-persistence/build
test-harness/build
ui/build
client/bin
common/bin
jersey/bin
contribs/bin
core/bin
es5-persistence/bin
mysql-persistence/bin
redis-persistence/bin
test-harness/bin
server/bin
ui/bin
client/python/conductor.egg-info
*.pyc
.classpath
docs/site
site
ui/.settings
.settings
dump.rdb
.idea
*.iml
out/
